<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>$if(title-prefix)$$title-prefix$ – $endif$$if(title)$$title$$else$$pagetitle$$endif$</title>

    $if(stylesheet)$ $if(rel_path)$
    <link rel="stylesheet" href="$rel_path$/$stylesheet$" />
    $else$
    <link rel="stylesheet" href="$stylesheet$" />
    $endif$ $endif$ $if(stylesheet-url)$
    <link rel="stylesheet" href="$stylesheet-url$" />
    $endif$ $if(math)$ $math$ $endif$
  </head>

  <body>
    $if(title)$
    <header>
      <h1>$title$</h1>
    </header>
    $endif$ $if(toc)$
    <nav>
      <h2>Contents</h2>
      $table-of-contents$
    </nav>
    $endif$

    <main>$body$</main>
  </body>
</html>
